.search-container {
    width: 350px;
    position: relative;
    font-family: Arial, sans-serif;
  }
  
  .suggestions {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 150px;
    overflow-y: auto;
    z-index: 10;
  }
  
  .suggestions-up {
    bottom: 100%; /* Moves suggestions above the search bar */
    margin-bottom: 5px;
  }
  
  .suggestions li {
    padding: 8px;
    cursor: pointer;
  }
  
  .suggestions li:hover {
    background-color: #f0f0f0;
  }
  
  .search-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    min-height: 40px;
    background: white;
    position: relative;
  }
  
  .search-box input {
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 5px;
  }
  
  .submit-btn {
    background-color: #10552e;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: #10552e;
  }
  
  .selected-item {
    background-color:#10552e;
    color: white;
    border-radius: 12px;
    padding: 5px 10px;
    margin: 3px;
    display: flex;
    align-items: center;
  }
  
  .remove-icon {
    cursor: pointer;
    margin-left: 5px;
  }
  
  .sub-category-container {
    margin-top: 10px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
  }
  
  .sub-category-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .sub-category-item span {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .sub-category-item input[type="range"] {
    flex-grow: 1;
    margin: 0 10px;
  }
  